<!DOCTYPE html>
<html>
	<head>
		<title>PBKC Response Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/scanlines.css' />
		<link rel='stylesheet' href='/css/error.css' />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/scanlines.js"></script>
		<script type="text/javascript" src="/js/error.js"></script>
	</head>
	<body class="error-page theme-scanlines">
		<div id="cover"><div id="line"><div id="dot"></div></div></div>
		<div id="content">
		<div id="theme-widget">
			<span> Theme:</span>
				<input type="radio" id="theme0" name="theme-options" value="0" data-themeName="none"><label for="theme0">0</label> | 
				<input type="radio" id="theme1" name="theme-options" value="1" data-themeName="scanlines" checked="checked"><label for="theme1">1</label> | 
				<input type="radio" id="theme2" name="theme-options" value="2" data-themeName="lcd"><label for="theme2">2</label>
				</div>
			<p class="diplomatic-message">Nice going genius. You broke the site.</p>
			<div id="error-details">
				<h2 class="error-text" data-text="<%= error.status %>"><%= error.status %></h2>
				<h1 class="error-text" data-text="<%= message %>"><%= message %></h1>
				<div id="error-glass"></div>
			</div>
			<div class="error-stack"><pre><%= error.stack %></pre></div>
		</div>
	</body>
</html>